﻿@model Polizas.Models.TipoRiesgo
<h2>Detalles @ViewBag.Title</h2>

<div>
    <h4>TipoRiesgo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CodigoPoliza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoPoliza)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TipoRiesgoId}, new { @class = "btn btn-success" })
    @Html.ActionLink("Atrás", "Index", new { }, new { @class = "btn btn-primary" })
</p>
