﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gestión de Pólizas</h1>
    <p class="lead">
        Gestión de Pólizas te permite administrar tu información sobre riesgos, coberturas y administración de clientes de las Pólizas.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Más &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-3">

        <h2>Cobertura</h2>
        <img src="~/images/iconfinder_mobile-bank-point_532638.png" />
        <p>Fácil gestión de información de Coberturas.</p>

    </div>
    <div class="col-md-3">
        <h2>Riesgos</h2>
        <img src="~/images/iconfinder_security-safety-shield_532631.png" />
        <p>Fácil gestión de información de riesgos.</p>
    </div><div class="col-md-3">
        <h2>Clientes</h2>
        <img src="~/images/iconfinder_finance-scale_532643.png" />
        <p>Administración de información de clientes.</p>
    </div>
    <div class="col-md-3">
        <h2>Pólizas</h2>
        <img src="~/images/iconfinder_award-document_532620.png" />
        <p>Información de Pólizas.</p>
    </div>
</div>